/*派發系統*/
#table_stats {
    table-layout:fixed;
    word-break:break-all;
    border-collapse: collapse;
}
#cat_top{
    background-color: #e9ecef;
}
.sbs_no{
    width: 5%;
}
.sbs_title{
    width: 50%;
}
.sbs_judge{
    width: 35%;
}
.sbs_status{
    width: 10%;
}
.table{
    word-break:break-all;
    word-wrap:break-all;
}
.btn-group .btn{
    width:150px;
    height:75px;
}

/*edit_record*/
.sbs_user{
    width: 25%;
}
.sbs_title{
    width: 25%;
}
.sbs_cat{
    width: 25%;
}
.sbs_time{
    width: 25%;
}

/*search*/
.search_title{
    width: 40%;
}
.search_o_cat{
    width: 30%;
}
.search_c_cat{
    width: 30%;
}